<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0E2B97C2233E84600824F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0E2B9902233E84900824F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0E2B99B2233E84900824F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
